.buttonContainer {
    display: flex;
    border-radius: 100px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 9.5px, 24px, 9.5px, 24px;
    width: 327px;
    height: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
